<div class="article-page">

  <div class="banner">
    <div *appLogged>123123</div>
    <div class="container">

      <h1>{{article?.title}}</h1>
      <!-- article meta -->
      <app-article-meta [article] = "article" [isUser]="isUser"></app-article-meta>
      <!-- article meta -->
    </div>
  </div>
  <div class="container page">

    <div class="article-content">
      <div >
        <p>
          {{article?.body}}
        </p>
      </div>
      <ul class="tag-list" *ngFor="let tag of article?.tagList">
        <li class="tag-default tag-pill tag-outline ng-binding ng-scope" >
          {{tag}}
        </li>
      </ul>
    </div>

    <hr />

    <div class="article-actions">
      <!-- aricle meta -->
      <app-article-meta [article] = "article" [isUser]="isUser"></app-article-meta>
      <!-- article meta -->
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-8 offset-md-2" >
          <form class="card comment-form"  >
              <div class="card-block">
                <textarea class="form-control" placeholder="Write a comment..." rows="3" [formControl] = "commentControl"></textarea>
              </div>
              <div class="card-footer">
                <img [src]="article?.author.image" class="comment-author-img" />
                <button class="btn btn-sm btn-primary" (click)="postComment()">
                 Post Comment
                </button>
              </div>
            </form>
        <app-comment [comments] = "comments"></app-comment>
      </div>
    </div>
  </div>
</div>
